<footer class="p-5 text-muted position-relative">
    <div class="container-fluid">
        <p>Made by Miguel Vargas, January 2022. All Rights Reserved ©</p>
        <hr>
        <div class="row">
            <div class="g-3">
                <a href="https://www.linkedin.com/in/miguel-e-vargas-aba12a15a" target="_blank">
                    <img src="/static/home_app/images/linkedin.svg" alt="Linkedin" width="22" height="22">
                </a>
            </div>
            <div class="g-3">
                <a href="https://www.instagram.com/meve404" target="_blank">
                    <img src="/static/home_app/images/instagram.svg" alt="Instagram" width="22" height="22">
                </a>
            </div>
            
        </div>
        <div class="position-absolute top-50 start-50 translate-middle py-5">  
            <a href="#" class="mx-1">
                <img src="/static/home_app/images/arrow-up-circle-fill.svg" alt="arrow" width="35" height="30">
            </a>
        </div>
    </div>
</footer>