{% extends 'home_app/main.html' %}
{% block content %}
{% include 'home_app/navbar.html' %}

<section class="p-3 pt-lg-3 text-center text-sm-start">
    <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="100">
        <div class="fst-italic">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h2>Estudios</h2>
                </li>
                <li class="list-group-item">
                    <p class="lead my-1 fw-bold text-capitalize">Procesos de intervención en <span class="text-success">Psicología Clínica</span> 2021</p>
                    <ul>
                        <li>
                            <a href="https://www.leeduacademia.com/sobre-nosotros/" class="text-success text-decoration-none" target="_blank">
                                Academia Leedu de España</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <p class="lead my-1 fw-bold text-capitalize">La  <span class="text-success">salud mental</span> de los jóvenes en un mundo cambiante 2018</p>
                    <ul>
                        <li>
                            <a href="https://www.sociedadenmovimiento.com/es/cooperativa-de-asociaciones-de-hogares-comunitarios-de-bienestar-familiar-cooasobien-NT68" class="text-success text-decoration-none" target="_blank">
                                Cooperativa de Asociaciones de Hogares Comunitarios de Bienestar Familiar</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <p class="lead my-1 fw-bold">Psicóloga <span class="text-success">Graduada</span> 2017</p>
                    <ul>
                        <li>
                            <a href="https://www.ucp.edu.co/" class="text-success text-decoration-none" target="_blank">Universidad Católica de Pereira</a>
                        </li>
                    </ul> 
                </li>                
                <li class="list-group-item">
                    <p class="lead my-1 fw-bold text-capitalize">Por la reconstrucción del <span class="text-success">tejidosocial</span> 2013</p>
                    <ul>
                        <li>
                            <a href="https://congresopsicologiacolombia.com/index.php/memorias" class="text-success text-decoration-none" target="_blank">
                                Colpsic-Ascofapsi. III Congreso de Psicología</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--work expirience-->
<section class="p-4 pt-lg-4 text-center text-sm-start bg-light">
    <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="300">
        <div class="row fst-italic">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2>Experiencia <span class="text-success">Laboral</span>
                    </li>
                </ul>
            </div>
            <div class="accordion accordion-flush" id="Experience">
                <!--Item 1-->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-one">
                        <p class="fw-bold text-capitalize">Diciembre 2020 - Actualmente <span class="text-success">Hablar Sana</span></p>
                    </button>
                  </h2>
                  <div id="exp-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#Experience">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <p>
                                    Fundadora de Hablar Sana. Acompañamiento, intervención y asesoría psicológica online a adultos entre los 25-70 años de diferentes 
                                    partes del mundo. 
                                    Realización de diferentes informes psicológicos, desarrollo de proyectos orientados a la resolución de conflictos en el hogar. Con
                                    4 años de experiencia en intervención psicológica.
                                </p>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <!--Item 2-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-two">
                        <p class="fw-bold text-capitalize">Enero 2020 - Noviembre 2020 <span class="text-success">Grupo Proensa SAS</span></p>
                      </button>
                    </h2>
                    <div id="exp-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#Experience">
                      <div class="accordion-body">
                          <ul>
                              <li>
                                <p>
                                    Liquidación y pago de la nómina, realización de afiliaciones a seguridad social, elaboración de
                                    contratos, selección de personal para diferentes cargos, reclutamiento de hojas de vida, aplicación
                                    y calificación de pruebas psicotécnicas, desarrollo de actividades de bienestar laboral, brindar
                                    capacitaciones técnicas al personal y a los clientes, ejecución de evaluaciones de desempeño,
                                    acompañamiento, e intervención psicológica a las familias de los adultos mayores, presentación de
                                    informes de gestión y cumplimiento de indicadores.
                                </p>
                              </li>
                              <li>
                                <p>
                                    Logros: Sugerí la idea de estructurar el proceso de selección, eligiendo perfiles profesionales y
                                    aplicando pruebas psicotécnicas, esto con el fin de mejorar el desempeño y atención a los adultos
                                    mayores.
                                </p>
                              </li>
                          </ul>
                      </div>
                    </div>
                </div>
                <!--Item 3-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-three">
                          <p class="fw-bold text-capitalize">Enero 2018 - Dic. 2019 <span class="text-success">Liceo Computarizado Sistivalle</span></p>
                      </button>
                    </h2>
                    <div id="exp-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#Experience">
                      <div class="accordion-body">
                          <ul>
                              <li>
                                  <p>
                                    Se desarrollaron procesos de diagnóstico, valoración e intervención psicoterapéutica l en pacientes
                                    de primera infancia y básica primaria. Acompañamiento, seguimiento e intervención psicológica con
                                    padres de familia y docentes, también participación en el diseño, planeación, ejecución y evaluación
                                    de proyectos dirigidos a la sana convivencia.
                                  </p>
                              </li>
                          </ul>
                      </div>
                    </div>
                </div>
                <!--Item 4-->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exp-four">
                          <p class="fw-bold text-capitalize">Junio - Dic. 2018 <span class="text-success"> COOASOBIEN-ICBF</span></p>
                      </button>
                    </h2>
                    <div id="exp-four" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#Experience">
                      <div class="accordion-body">
                        <ul>
                            <li>
                                <p>
                                    Acompañamiento, intervención y asesoría psicológica a madres gestantes, padres de familia,
                                    docentes, Realización de diferentes informes psicológicos, capacitación a padres de familia,
                                    docentes y auxiliares, Desarrollo de proyectos orientados a encuentros en el hogar de las madres
                                    gestantes.
                                </p>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

{% endblock content %}